<div class="container my-4">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8">
			<%= simple_form_for @cocktail do |f| %>
				<%= f.input :name %>
				<%= f.input :photo, as: :file, label: "Add a photo to your cocktail" %>
			  	<%= f.submit class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

